<!-- <p>search-flight-hotels-homepage.component works!</p> -->
<div class="card">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Flights</p-tab>
      <p-tab value="1">Hotels</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <p-toast />
        <div class="card flex justify-center main-card">
          <form
            [formGroup]="exampleForm"
            (ngSubmit)="onSubmit()"
            class="flex flex-col gap-6 w-full"
          >
            <div class="input-row">
              <div class="flex flex-col gap-1 input-field">
                <label for="fromCity" class="font-medium">From</label>
                <input pInputText id="fromCity" formControlName="fromCity" fluid="true" />
                @if (isInvalid('fromCity')) {
                <p-message severity="error" size="small" variant="simple">Required</p-message>
                }
              </div>

              <div class="flex flex-col gap-1 input-field">
                <label for="toCity" class="font-medium">To</label>
                <input pInputText id="toCity" formControlName="toCity" fluid="true" />
              </div>

              <div class="flex flex-col gap-1 input-field">
                <label for="dateTravel" class="font-medium">Date</label>
                <p-datepicker
                  id="dateTravel"
                  formControlName="selectedDate"
                  [showIcon]="true"
                  fluid="true"
                  ngSkipHydration
                />
              </div>
            </div>

            <button pButton severity="secondary" type="submit" class="w-full py-3">
              <span pButtonLabel class="w-full">Submit</span>
            </button>
          </form>
        </div>
      </p-tabpanel>
      <p-tabpanel value="1">
        <form [formGroup]="exampleForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 w-full">
          <div class="input-row">
            <div class="flex flex-col gap-1 input-field">
              <label for="toCity" class="font-medium">To</label>
              <input pInputText id="toCity" formControlName="toCity" fluid="true" />
            </div>

            <div class="flex flex-col gap-1 input-field">
              <label for="dateTravel" class="font-medium">Date</label>
              <p-datepicker
                id="dateTravel"
                formControlName="selectedDate"
                [showIcon]="true"
                fluid="true"
                ngSkipHydration
              />
            </div>
          </div>

          <button pButton severity="secondary" type="submit" class="w-full py-3">
            <span pButtonLabel class="w-full">Submit</span>
          </button>
        </form>
      </p-tabpanel>
      <p-tabpanel value="2">
        <p class="m-0">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
          voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
          cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
          est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
          libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
        </p>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
