<p-toast position="top-right" />
<div class="forgot-password-container">

      @if(step == 1){ 
        <div class="email-container">
        <p-card class="email-card">
          <div class="form-contaier">
            <h2 class="form-header"><i class="pi pi-lock"style="font-size: 24px;"></i>Forgot Your Password?</h2>
            <p class="text-muted text-center mb-4">Enter your email to receive a reset code.</p>
      
            <form class="email-form" (ngSubmit)="onSubmit()" [formGroup]="emailForm">
            <p-floatlabel variant="on">
            <input pInputText id="email" formControlName="email" [invalid]="isInvalid('email',emailForm)" autocomplete="off" />
            <label for="email">Enter Email</label>
            </p-floatlabel>
        
              <div class="error-message-wrapper">
                @if (isInvalid('email',emailForm)) {
                <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
               }
              </div>

               <p-button pRipple type="submit" label="Send OTP" class="w-full"></p-button>
               <div class="back-to-login"> Remembered your password? <a routerLink="/login">Go back to login</a> </div>
           </form>
          </div>
        </p-card>
        </div>
    }


    @else if(step == 2){

        <div class="otp-container">
            <p-card class="otp-card">
                <div class="authenticate">Authenticate Your Account</div>
                  <p class="enterCode">Please enter the code sent to your email.</p>
                  <p-inputotp  [length]="6">
                  <ng-template #input let-token let-events="events" let-index="index">
                        <input type="text" [maxLength]="1" (input)="events.input($event)" (keydown)="events.keydown($event)" [attr.value]="token" class="custom-otp-input" />
                        @if(index === 3){
                            <div class="px-4">
                          <i class="pi pi-minus"></i>
                         </div>
                        }
                  </ng-template>
                 </p-inputotp>
                 <div class="otp-button">
                    <p-button label="Resend Code" [link]="true" class="p-0"/>
                    <p-button pRipple (click)="submitMsg()" label="Submit Code"/>
                 </div> 
            </p-card>
         </div>
    
    }

</div>