<p-toast></p-toast>
<div class="register-layout">
    <p-card class="custom-card">
        <ng-template pTemplate="header">
            <div class="card-header-flex">
                <h2 style="margin: 0; color: aliceblue;">Register</h2>
                          </div>
        </ng-template>

        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="field-container">
                <p-floatlabel variant="on">
                    <input pInputText id="username" formControlName="username" 
                           [ngClass]="{'ng-invalid ng-dirty': registerForm.get('username')?.invalid && registerForm.get('username')?.touched}" />
                    <label for="username">User Name</label>
                </p-floatlabel>
                <small class="error-text" *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
                    Username is required
                </small>
            </div>

            <div class="field-container">
                <p-floatlabel variant="on">
                    <input pInputText id="phone" formControlName="phone" maxlength="10"
                           [ngClass]="{'ng-invalid ng-dirty': registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched}" />
                    <label for="phone">Phone Number</label>
                </p-floatlabel>
                <small class="error-text" *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched">
                    Enter a valid 10-digit number.
                </small>
            </div>

            <div class="field-container">
                <p-floatlabel variant="on">
                    <input pInputText id="email" formControlName="email" 
                           [ngClass]="{'ng-invalid ng-dirty': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}" />
                    <label for="email">Email Address</label>
                </p-floatlabel>
                <small class="error-text" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                    Valid email is required.
                </small>
            </div>

            <div class="field-container">
                <p-floatlabel variant="on">
                    <p-password formControlName="password" [toggleMask]="true" [feedback]="true"
                                [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                                [ngClass]="{'ng-invalid ng-dirty': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}">
                    </p-password>
                    <label>Password</label>
                </p-floatlabel>
                <small class="error-text" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                    Password must be strong 
                </small>
            </div>

            <div class="field-container">
                <p-floatlabel variant="on">
                    <p-password formControlName="confirmPassword" [toggleMask]="true" [feedback]="false"
                                [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                                [ngClass]="{'ng-invalid ng-dirty': (registerForm.get('confirmPassword')?.invalid || registerForm.hasError('mismatch')) && registerForm.get('confirmPassword')?.touched}">
                    </p-password>
                    <label>Confirm Password</label>
                </p-floatlabel>
                <small class="error-text" *ngIf="(registerForm.get('confirmPassword')?.invalid || registerForm.hasError('mismatch')) && registerForm.get('confirmPassword')?.touched">
                    Passwords do not match.
                </small>
            </div>

            <div class="button-row">
                <p-button label="Register" severity="success" type="submit"></p-button>
                <span>Already a user</span>
                <p-button label="Login" severity="secondary" (click)="login()"></p-button>
                
            </div>
        </form>
    </p-card>
</div>