<!-- <p>homepage works!</p> -->

<app-menubar-component></app-menubar-component>



<p-card header="">
  <div class="hero-content">
    <h1 class="hero-title animate-fade-up">Your Journey Begins Here</h1>
    <p class="hero-subtitle animate-fade-up-delay">
      Book flights, reserve hotels, and manage your entire trip in one place
    </p>
  </div>
    <app-search-flight-hotels-homepage/>
</p-card>

<section class="stats-bar">
  <div class="stat-item">
    <h3>500k+</h3>
    <p>Daily Transactions</p>
  </div>
  <div class="stat-item">
    <h3>Global</h3>
    <p>Hospitality Chains</p>
  </div>
  <div class="stat-item">
    <h3>24/7</h3>
    <p>Real-time Updates</p>
  </div>
</section>

<!-- <section class="services">
  <h2 class="section-title">Integrated Solutions</h2>
  <div class="card-container">
    <div class="card">
      <div class="card-icon">🏨</div>
      <h3>Smart Booking</h3>
      <p>Dynamic pricing for flights and hotels based on demand.</p>
    </div>
    <div class="card">
      <div class="card-icon">🕒</div>
      <h3>Live Itinerary</h3>
      <p>Automatic alerts for schedule changes and reminders.</p>
    </div>
    <div class="card">
      <div class="card-icon">💳</div>
      <h3>Secure Payments</h3>
      <p>PCI DSS compliant payment and automated refund logic.</p>
    </div>
  </div>
</section> -->

<app-features-panel-homepage></app-features-panel-homepage>

<app-footer></app-footer>

<!-- <div class="banner-container">
  <img 
    src="https://picsum.photos/800/400" 
    alt="Background" 
    class="banner-image"
  >

  <div class="banner-text">
    <h1>TripEase</h1>
    <p>Explore the World !!!</p>
  </div>
</div> -->