<!-- <p>homepage works!</p> -->

<!-- <app-menubar-component></app-menubar-component> -->

<p-card header="">
  <div class="hero-content">
    <h1 class="hero-title animate-fade-up">Your Journey Begins Here</h1>
    <p class="hero-subtitle animate-fade-up-delay">
      Book flights, reserve hotels, and manage your entire trip in one place
    </p>
  </div>
  <app-search-flight-hotels-homepage />
</p-card>

<section>
  <app-rating-and-reviews />
</section>
<section>
  <app-features-panel-homepage></app-features-panel-homepage>
</section>


<app-footer></app-footer>

