<app-menubar-component></app-menubar-component>

<div class="mb-4 p-8">
    <p-card header="LogIn">
        <p-toast />
        <div class="card flex justify-center">
            <form [formGroup]="exampleForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full sm:w-56">
                <div class="flex flex-col">
                    <input pInputText type="text" id="username" placeholder="Username" formControlName="username"
                        [invalid]="isInvalid('username')" />

                    <div class="error-spacer">
                        @if (isInvalid('username')) {
                        <p-message severity="error" size="small" variant="simple">
                            Username is required.
                        </p-message>
                        }
                    </div>
                </div>

                <div class="flex flex-col gap-1">
                    <p-password formControlName="value" [invalid]="isInvalid('value')" [feedback]="false"
                        placeholder="Password" autocomplete="off" />

                        <div class="error-spacer"> @if (isInvalid('value')) {
                    <p-message severity="error" size="small" variant="simple">Password is required.</p-message>
                    }</div>
                   
                </div>
                <button pButton severity="secondary" type="submit"><span pButtonLabel>LogIn</span></button>
            </form>
        </div>
    </p-card>
</div>