<!-- <p>footer.component works!</p> -->
<footer class="">
  <p-card header="">
    

  <div class="footer-grid">
    <div class="footer-col">
      <h3>TripEase</h3>
      <p>Making travel booking easy and accessible for everyone.</p>
    </div>
    <div class="footer-col">
      <h4>Services</h4>
      <div class="social-icons">
        <!-- <span>FB</span> <span>TW</span> <span>IG</span> -->
        <ul>
          <li>Flight Booking</li>
          <li>Hotel Reservations</li>
          <li>Itinerary Planning</li>
        </ul>
      </div>
    </div>
    <div class="footer-col">
      <h4>Company</h4>
      <ul>
        <li>About Us</li>
        <li>Careers</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Support</h4>
      <ul>
        <li>Help Center</li>
        <li>Contact Support</li>
        <li>Refund Policy</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom"> <p>&copy; 2026 TripEase Management System. All Rights Reserved.</p></div>
  </p-card>
</footer>